@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 /* NOTE: LOGIN AND CHECKOUT FORM CSS!!! */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 10%;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

body {
  background-color: #3f0e67;
  margin-top: 3%;
}


/* DESIGN */
li, a, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000 ;
  text-decoration: none;
}

h1{
  font-family: 'Parisienne', cursive;
  font-weight: 500;
  font-size: 90px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

h2{
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-size: 60px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  text-align: left;
}

h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
 /*background-color: #3f0e67 */
}

input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
 /*background-color: #3f0e67 */
}

input[type=submit] {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  margin: 4px 2px;
  transition: 0.3s;
  background-color: white
}

input:hover[type=submit] {
  background-color: #3f0e67;
  color: white;
}

img {
  width:  8%;
}

/* container */
.boxed {
  /*border: 1px solid green; */
  width: 50%;
  background-color: white;
  border-radius: 15px 50px 30px;
  box-shadow: 10px 10px teal;
  margin-top: -70px;
  margin-bottom: 70px;
}
.Karen {
  /*border: 1px solid green; */
  width: 80%;
  background-color: white;
  border-radius: 15px 50px 30px;
  box-shadow: 10px 10px teal;
  margin-top: -70px;
  margin-bottom: -250px;
}

/*.left-half {
  background-color: #3f0e67;
  position: absolute;
  width: 50%;
}*/

/*.right-half {
  background-color: #3f0e67;
  position: absolute;
  right: 0px;
  width: 50%;
}*/


/* navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #3f0e67;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 20px;
}
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  font-family: 'Lora', serif;
}

.navbar-links {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #008080;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

/* FOOTER */
.foot{
  max-width: 1560px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  margin-top: 30%;
  background-image: linear-gradient(to top right,#008080, #3f0e67);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   margin-right: 50px;
   margin-left: 30px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li p {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  
}

.footer-col ul li a:hover{
  color: #12DCEC;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}


}